html, body {
	margin: 0;
	padding: 0;
}

body {
	background-image: url("../imgs/paradise.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.fancy_link {
	margin-left: 10px;
	margin-right: 10px;
}

.g_button {
	margin: 10px 0;
}
